@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Krona One', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: left;
  color: black;
  background-color:#A99FBD;
}

h1 {
  text-align: center;
  font-size: 32pt;
  color: #3B3B4A;

}
h2{
    text-align: left;
    font-family: 'Krona One', sans-serif;
}
a {
  color:#3B3B4A;
  text-decoration: none;
}


img {
  display: block;
  margin: 0px auto;
}


.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color:#FCF8EF;
  text-decoration:black;
  font-family: 'Raleway', sans-serif;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#E0E0E0 ;
}

li {
  float: left;
}

li a {
  display: block;
  color:#3B3B4A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
color:#A99FBD;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
